<html>
    <head>
        <title> Lista </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style>
            h3{
                margin-top:10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">

                <h1 class="page-header"> Lista de repositórios </h1>

                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-1 col-sm-2 col-xs-4">
                                        <img src="{{repositories[0].owner.avatar_url}}" alt="{{repositories[0].owner.login}}" class="img-circle img-responsive">
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-8">
                                        <h3> <i class="fa fa-github"></i> {{ repositories[0].owner.login }} </h3>
                                        <a href="{{repositories[0].owner.html_url}}" target="_blank">
                                            <i class="fa fa-external-link"></i>
                                            {{repositories[0].owner.html_url}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group">

                            {% for repositorie in repositories %}
                                <a href="{{ repositorie.html_url }}" target="_blank" title="{{ repositorie.full_name }}" alt="{{ repositorie.full_name }}" class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="list-group-item-heading">
                                                <i class="fa fa-code-fork"></i>
                                                {{repositorie.name}}
                                            </h4>
                                            <p class="list-group-item-text">
                                                <strong> Full Name: </strong> {{ repositorie.full_name }}
                                            </p>
                                            <p class="list-group-item-text">
                                                <strong> URL: </strong> {{ repositorie.html_url }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
